.App {
  font-size: 30px;
}

.carInfo {
  display: flex;
  flex-direction: row;
}

img {
  height: 300px;
  width: 400px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
